body {
  font-family: sans-serif;
  padding: 10px;
  background: #111;
  color: white;
}

button {
  padding: 15px;
  font-size: 18px;
  margin: 10px 0;
}

#map {
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
}

li {
  margin: 5px 0;
}
